body {
    font-family: georgia;
}

header {
    background-color: lightgrey;
    font-family: cambria;
    letter-spacing: 2px;
    text-align: center;
    display: block;
}

.profile {
    width: 90%;
    margin: 25px auto;
    padding: 10px auto;
}

.details {
    width: 90%;
    margin: 25px auto;
    padding: 10px auto;
}

span {
    font-weight: bold;
}

h1 {
    font-weight: 25px;
    margin-bottom: -10px;
    letter-spacing: 2px;
}

p {
    line-height: 80%;
}

#photo {
    border: 1px solid lightgrey;
    height: 120px;
    width: 25%;
    padding: 10px;
    display: inline-block;
}

#bio {
    border: 1px solid lightgrey;
    height: 120px;
    width: 70%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

.image {
    align-content: center;
}

#experience, #education, #hobbies {
    border: 1px solid lightgrey;
    padding: 10px;
    margin: 10px 0px 10px;
    display: block;
}